@import "tailwindcss";

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0a0a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a0a0a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a0a0a;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  font-family: "Space Grotesk", sans-serif;
  color: #f3f4f6;
}

@layer components {
  .sections-common-style {
    @apply min-h-screen flex items-center justify-center;
  }

  .nav-link {
    @apply text-gray-300 hover:text-white transition-colors;
  }

  .mobile-nav-link {
    @apply text-2xl font-semibold text-white my-4 transform transition-transform duration-300;
  }
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
